.main-container {
    width: calc(100vw - 200px);
    position: fixed;
    height: 100vh;
    top: 64px;
    left: 200px;
    overflow: auto;
    padding: 30px 30px 60px;

    @media(max-width: 992px) {
        width: 100%;
        left: 0;
    }
}
